.confirmation {
  margin: 100px auto;
}
.icon-menu {
  margin: 35px;
}
.confirmation-container {
  margin: 0px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: blue;
  margin: 5px;
}
.confirmation-message {
  text-align: center;
  margin-bottom: 10px;
}
