.login {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}
.icon-menu {
  margin: 35px;
}


.title-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.dash {
  margin: 0 10px;
  font-weight: bold;
}
.login-container{
  display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.reset-login{
margin-top: 25px;
}