.button {
  width: 234px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #917898;
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}
.btnTitle {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  color: gray;
  background-color: transparent;
  margin-bottom: 10px;
  cursor: pointer;
}
.btnTitleDark {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  color: gray;
  background-color: transparent;
  margin-bottom: 10px;
  cursor: pointer;
}
.btnAny {
  height: 35px;
  margin: 0 15px;
  padding: 5px 15px;
  font-size: 14px;
  background-color: #917898;
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}
.btnReset {
  background-color: transparent;
  color: #917898;
  border: none;
  text-align: start;
  cursor: pointer;
}

.btnLogin {
  border-bottom: none;
  border-left: none;
  border-top: none;
  border-right: 3px solid gray;
  padding-right: 15px;
}
.btnRegistration {
  margin-left: 15px;
  border: none;
}
.btnTitleActive {
  color: #2e2330;
}
.btnTab {
  margin-right: 20px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: gray;
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}

.btnTabDark {
  margin-right: 20px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: rgb(66, 66, 98);
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}
.btnTabActive {
  background-color: #917898;
}

.btnPostTab {
  width: 85px;
  height: 40px;
}
