.button {
  width: 234px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: blue;
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}
.btn-reset {
  background-color: transparent;
  color: blue;
  border: none;
  text-align: start;
}
.btnTitleActive {
  font-size: 24px;
  font-weight: bold;
  color: blue;
  background-color: transparent;
  border-bottom: none;
  border-left: none;
  border-top: none;
  border-right: 3px solid gray;
  padding-left: 0;
  padding-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btnTitleInActive {
  width: 110px;
  font-size: 24px;
  font-weight: bold;

  color: gray;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;

}
