.popUp {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.popUpContainer {
  max-width: 380px;
  max-height: 380px;
  border: 3px solid #2e1a1e;
  padding: 20px;
  margin: 15% auto;
  background-color: #917898;
  text-align: center;
}
.popUpClose {
  color: rgb(238, 238, 238);
  float: right;
  font-size: 15px;
  cursor: pointer;
}
.popUpClose:hover {
  color: black;
}
.fa-xmark-large {
  color: #2e1a1e;
}
.popUpContainer img{
  height: 300px;
  width: 300px;
}