.postCard {
  width: 300px;
  min-height: 340px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    border: solid 1px grey;
  padding: 25px;
  border-radius: 8px;
  margin: 20px;
}

.singleCard{
  width: 400px;
  min-height: 440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    border: solid 1px grey;
  padding: 25px;
  border-radius: 8px;
  margin: 20px;
}
.postsImg {
  width: 250px;
  height: 140px;
  border-radius: 8px;
}
/* .postsTitle {
  font-size: 18px;
} */
.postsText {
  font-size: 14px;
  color: grey;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.postTextIsBig{
  font-size: 16px;
  color: grey;
}
.postsDate {
  font-size: 14px;
  color: #2e1a1e;
  text-align: left;
}
