.contentTitle {
  margin: 0 auto;
  height: 100vh;
  padding: 0 130px;
}
.headerTitle {
  margin: 25px 0;
  color: blue;
  font-size: 36px;
}

/* .postsCard {
  width: 450px;
}
.postsImg {
    width: 400px;
    height: 225px;

}
.postsTitle {
  font-size: 22px;
}
.postsText {
  font-size: 16px;
  white-space: break-spaces;
}
.postsDate {
  font-size: 16px;
 } */
