.myPosts{
    margin: 0 auto;
    height: 100vh;
  padding: 0 130px;

}
.headerTitle{
margin: 15px 0;
color: blue;
font-size: 36px;
}
.titleContainer{
    display: flex;
    align-items: center;
    margin-left: 145px;
}