.myPosts {
  margin: 0 auto;
  min-height: 100vh;
}
.headerTitle {
  color: blue;
  font-size: 36px;
}
.titlePostsContainer {
  display: flex;
  align-items: center;
  margin-left: 145px;
}
.postsTabs {
  display: flex;
  margin-left: 145px;
}
