.postsContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.postsList{
  display: flex;
  justify-content: center;
      flex-wrap: wrap;
      position: relative;
  }

