.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.darkContainer,
.darkContainer a,
.darkContainer span i {
  background-color: #4c394f;
  color: #bcb8ce;
}
.container,
.container a,
.container span i {
  background-color: #bcb8ce;
  color: #2e1a1e;
}
.darkContainer h1,
h2 {
  color: #d5ddef;
}
.container h1,
h2 {
  color: #2e1a1e;
}
.buttonDark {
  background-color: #2e1a1e;
  border: none;
  width: 234px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}
.btnTitleActiveDark {
  color: rgb(139, 0, 130);
}
.darkCard {
  background-color: #bcb8ce;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 340px;
  border: solid 1px grey;
  padding: 25px;
  border-radius: 8px;
  margin: 15px;
}
.darkCard span {
  background-color: #bcb8ce;
  color: black;
}
.darkHeader span,
.darkHeader span i,
.darkHeader a {
  color: #d5ddef;
}
.headerLight {
  background-color: #d5ddef;
  color: #2e1a1e;
}
.darkHeader {
  background-color: #2e1a1e;
  color: #d5ddef;
}
.cardLight {
  background-color: #d5ddef;
}
a {
  text-decoration: none;
}
